@model ContatoModel

@{
    ViewData["Title"] = "Adicionar";
}

<h1>Cadastrar</h1>

@if (TempData["UsuarioExisteEmail"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["UsuarioExisteEmail"]
    </div>
}
@if (TempData["UsuarioExisteCpf"] != null)

{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["UsuarioExisteCpf"]
    </div>
}

<form class="row"asp-controller="Contato" asp-action="Adicionar" method="post">
    <div class="row">
    <div class="col-md-4">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text"asp-for="Nome" class="form-control" id="inputnome">
        @Html.ValidationMessageFor(x=>x.Nome)
    </div>
    <div class="col-md-4">
        <label for="RG" class="form-label">RG</label>
        <input type="text"asp-for="Rg" class="form-control" id="inputrg">
         @Html.ValidationMessageFor(x=>x.Rg)
    </div>
    <div class="col-md-4">
        <label for="CPF" class="form-label">CPF</label>
        <input type="text" asp-for="Cpf" class="form-control" id="inputcpf" placeholder="000.000.000-00">
            @Html.ValidationMessageFor(x=>x.Cpf)
    </div>
    
    
    <div class="col-md-4">
        <label for="E-mail" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" id="inputemail" placeholder="email@email.com">
            @Html.ValidationMessageFor(x=>x.Email)
    </div>
    <div class="col-md-4">
        <label for="Celular" class="form-label">Celular</label>
            <input type="text" asp-for="Celular" class="form-control" id="inputcelular" placeholder="(00)00000-0000">
            @Html.ValidationMessageFor(x=>x.Celular)
    </div>
    <div class="col-md-4">
        <label for="Cep" class="form-label">Cep</label>
        <input type="text" asp-for="Cep" class="form-control" id="inputcep">
            @Html.ValidationMessageFor(x=>x.Cep)
    </div>
    
    
    <div class="col-md-4">
        <label for="Cidade" class="form-label">Cidade</label>
        <input type="text" asp-for="Cidade" class="form-control" id="inputcidade">
            @Html.ValidationMessageFor(x=>x.Cidade)
    </div>
    <div class="col-md-4">
        <label for="Sexo" class="form-label">Sexo</label>
        <select id="inputSexo" asp-for="Sexo" class="form-control">
         <option selected>Sexo</option>
        <option>Masculino</option>
        <option>Feminino</option>
        </select>
            @Html.ValidationMessageFor(x=>x.Sexo)
     </div>
    <div class="col-md-4">
            <label for="Data Nascimento" class="form-label">Data Nascimento</label>
        <input type="date" asp-for="Data" class="form-control">
            @Html.ValidationMessageFor(x=>x.Data)
    </div>
    </div>
       <div class="col-md-4">
           <br />
                <button type="submit" class="btn btn-primary" class="bg-light border">Confirmar</button>
        <a role="button" class="btn btn-danger" asp-route-id="" asp-controller="Contato" asp-action="Index"> Cancelar</a>
    </div>  
    


</form>